*{
  margin: 0;
  padding: 0;
}
/*FONTS*/
@font-face{
	font-family: Caviar_Dreams;
	src:url('../font/Caviar_Dreams.ttf');
}
@font-face{
	font-family: neuropol_medium;
	src:url('../font/neuropol_medium.ttf');
}
@font-face{
	font-family: agopus_highresolution_roman;
	src:url('../font/agopus_highresolution_roman.ttf');
}

#main{
	position: absolute;
	margin:0 auto;
	min-width: 100%;
	min-height: 1200px;
	background-image: url("../img/matrix-bg.png")
}
/*END-FONTS*/

/*HEADER*/
#header{
	position: absolute;
	min-height: 200px;
	min-width: 88%;
	top: 3%; left: 3%;
}
#logo p{
	display: block;
	position: absolute;
	top:15%;
	font-size: 1000%;
	font-family: neuropol_medium;
	color: #fff;
}
#mobile p{
	display: block;
	position: absolute;
	font-size: 200%;
	font-family: 'agopus_highresolution_roman', sans-serif;
	color:#fff;
	top: 57%;
	left: 1200px;
}
#mobile img{
	position: absolute;
	left: 1150px;
	top: 58%;
}

/*END-HEADER*/
#adres p{
	display: block;
	position: absolute;
	font-size: 220%;
	font-family: 'agopus_highresolution_roman', sans-serif;
	color:#fff;
	top:87%;
	left: 30%;
}

#time p{

	display: block;
	position: absolute;
	font-size: 240%;
	font-family: 'agopus_highresolution_roman', sans-serif;
	color:#9bb0c2;
	top:59%;
	left: 125px;
}

/*MENU*/
#left-menu{
	margin:0; padding:0;
	 overflow: hidden
	width: 30%;
	position: absolute;
	top: 30%;
	left: 2%;
}
#left-menu ul{
	list-style: none;
	position: relative;
}
#left-menu ul li{
	font-size: 250%;
	font-family: Caviar_Dreams;
	padding-left: 40px;

}
#left-menu ul li a{
	display: block;
	padding: 10px; padding-left: 40px;
	text-decoration: none;
	width: 100%;
}
#left-menu ul li a:visited{
	color:#9bb0c2;
}
#left-menu ul li a:link{
	color:#ffffff;
	background: url("../img/menu.png") no-repeat 1px;
	 width: 100%;

}
#left-menu ul li a:hover{
	color:#d5ef40;
}

/*END-MENU*/

/*SLIDER*/
#frame{
	position: absolute;
	top: 20%;
	left: 550px;
	width: 1100px;
	height: 600px;
	background: url("../img/frame-slider.png") no-repeat;
}
.viewport{
    width: 1050px;
    min-width: 50%;
    height: 470px;
    overflow: hidden;
    position: relative;
    top: 2.5%;
    left: 2.2%;

}
.slidewrapper{
    position: absolute;
    left: 0;
    top: 0;
    height:470px;
    margin: 0;
    padding: 0;
    float:left;
}
.slide{
    width: 1050px;
    height: 470px;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    background: url('../img/1.jpg') no-repeat;
}
.second{
      background: url('../img/2.jpg') no-repeat;
}
.third{
     background: url('../img/3.jpg') no-repeat;
}

#switchSlide{
	position: absolute;
	top: 63%;
	left: 61%;
}
